.container{
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
    padding-inline: 1rem;
  }
.section{
  padding-top: 7rem;
}
@media screen and (max-width: 768px) {
  .section{
    padding-top: 5rem;
  }
}